<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> 
<plist version="1.0"> 
<dict> 
    <key>AllowedTypes</key> 
    <array> 
		<string>public.c-source</string>
		<string>public.c-plus-plus.source </string>
    </array> 
    <key>DefaultCompletionName</key>
	<string>zhouyue</string>
	<key>Description</key> 
    <string>Vincent File Templates</string> 
    <key>Kind</key> 
    <string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string> 
    <key>MainTemplateFile</key> 
    <string>___FILEBASENAME___.cpp</string> 
    <key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the scene to create</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>Class</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Which class Inherit from</string>
			<key>Identifier</key>
			<string>parentClass</string>
			<key>Name</key>
			<string>SubClass of</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>class</string>
			<key>Values</key>
			<array>
				<string>CCLayer</string>
			</array>
		</dict>
	</array>
    <key>Platforms</key> 
    <array> 
        <string>com.apple.platform.iphoneos</string> 
    </array> 
    <key>Summary</key>
	<string>This is my User Template Summary.</string>
</dict> 
</plist>
